{% extends "base.html"%}

{% block head %}
About
{% endblock head%}

{% block body %}
<center>
<div class="list-group">
    <ul>
    <li class="list-group-item list-group-item-action list-group-item-primary">Products from bangkok</li>
     <li class="list-group-item list-group-item-action list-group-item-danger">All original showroom products</li>
    <li class="list-group-item list-group-item-action list-group-item-success">Delivery within a week</li>
    <li class="list-group-item list-group-item-action list-group-item-dark">Full payment first policy</li>
    <li class="list-group-item list-group-item-action list-group-item-warning">Offially Founded on 27th February</li>
    </ul>
</div>
   <b>In order to pay message at <a href="https://www.instagram.com/crowned_collections_bht/" target="_blank"><img src="https://i.pinimg.com/originals/72/a3/d9/72a3d9408d41335f39e9f014dc35cf44.jpg" width="40" height="30"></a> </b>
</center>
{% endblock body%}